<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <input type="text" v-model="msg">
            <button @click="add">添加</button>
        </div>
        <table border="1" bordercolor="red" cellspacing="0" cellpadding="10">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>单价</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tr v-for="(p,i) in products">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price}}</td>
                <td>{{p.count}}</td>
            </tr>
        </table>
    </div>

    <script src="../../vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                msg:'',
                products:[]
            },
            methods: {
                add(){
                    let arr = this.msg.split(' ');
                    let obj = {
                        id:arr[0],
                        name:arr[1],
                        price:arr[2],
                        count:arr[3]
                    }
                    let f = false;//假设不存在相同的商品
                    for(let i=0;i<this.products.length;i++){
                        let o = this.products[i];
                        if(o.name==obj.name){
                            f = true;//假设错误，有相同的
                            o.count = (obj.count - 0) + (o.count -0);
                        }
                    }
                    if(!f){
                        // 数据不同,要添加
                        this.products.push(obj);
                    }
                }
            },
        })
    </script>
</body>
</html>