<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .classA{
        background: rgb(132, 209, 132);
    }
    .classB{
        background: rgb(100, 100, 185);
    }
</style>
<body>
    <div id="app">
        <table border="1" bordercolor="red" cellspacing="0" cellpadding="10">
            <tr>
                <td>学号</td>
                <td>名字</td>
                <td>姓名</td>
            </tr>
            <!-- <tr v-for="(item,i) in stus" :class="{classA:true,classB:i%2==1}"> -->
            <tr v-for="(item,i) in stus" :class="i%2==1?'classA':'classB'">
                <td v-text="item.id"></td>
                <td v-text="item.name"></td>
                <td v-text="item.gender=='F'?'女':'男'"></td>
            </tr>
        </table>
        <button @click="sortStus">点击按照性别排序</button>
    </div>
    <script src="../../vue.js"></script>
    <script>
        let isSorted = false;
        new Vue({
            el:'#app',
            data:{
                stus : [
                    {id:1,name:'张三',gender:'M'},
                    {id:2,name:'李丽',gender:'F'},
                    {id:3,name:'王磊',gender:'M'},
                    {id:4,name:'张苗',gender:'F'},
                    {id:5,name:'王浩',gender:'M'}
                ]
            },
            methods: {
                sortStus(){                    
                    if(!isSorted){
                        this.stus.sort((a,b)=>{
                            isSorted = true;
                            return a.gender.charCodeAt(0) - b.gender.charCodeAt(0);
                        })
                    }else{
                        this.stus.sort((a,b)=>{
                            isSorted = false;
                            return a.id - b.id;
                        })
                    }
                }
            },
        })
    </script>
</body>
</html>