<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>
</head>

<body>
    <div id='app'>
        <p>省份：</p>
        <select v-model="index">
            <option v-for="(p,i) in pros" :value="i">{{p}}</option>
        </select>
        <p>城市1：(watch实现)</p>
        <select v-model="idx">
            <option v-for="(c,i) in cities1" :value="i">{{c}}</option>
        </select>
        <p>城市2：(computed实现)</p>
        <select v-model="idx">
            <option v-for="(c,i) in cities2" :value="i">{{c}}</option>
        </select>

    </div>
    <script src='../../vue.js'></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                pros:['江苏','山东','安徽','浙江','湖北'],
                index:0,
                idx:0,
                cities1:[],
                cities:[
                    ["南京","苏州","扬州","泰州","徐州"],
                    ["济南","日照","青岛","潍坊","莱芜"],
                    ["合肥","六安","滁州","黄山","蚌埠"],
                    ["宁波","杭州","温州","金华","义乌"],
                    ["武汉","黄冈","荆门","宜昌","十堰"]
                ]
            },
            methods: {},
            computed: {
                cities2(){
                    // 依赖某个省份，根据发生的变化返回不同的结果
                    return this.cities[this.index]
                }
            },
            watch: {
                index:{
                    handler(newVal){
                        this.cities1 = this.cities[newVal]
                        this.idx = 0
                    },
                    immediate:true
                }
            }
        })
    </script>
</body>

</html>